body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
.api-panel {
    width: 80%;
    border-radius: 20px;
    background-color: black;
    color: white;
}